<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Dentist App</title>

    <link th:rel="stylesheet" th:href="@{/webjars/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css}"/>
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} "/>
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap-select/1.13.15/css/bootstrap-select.min.css} "/>
    <link th:rel="stylesheet" th:href="@{/webjars/font-awesome/5.11.2/css/all.css} "/>
    <link th:rel="stylesheet" th:href="@{/styles/main.css}"/>
</head>
<body>
    <div class="container my-4">
        <div class="mx-auto">
            <div data-toggle="collapse" data-target="#searchFilter" class="registration-list-search-title">
                <h2 class="row mx-1">
                    <i class="fas fa-angle-right mr-1 align-middle"></i>
                    <span class="align-middle" th:text="#{registration.search.title}"></span>
                </h2>
            </div>
            <form action="#" th:action="@{/search}" th:object="${searchFilterDto}" th:method="POST"
                  class="collapse search-filter" id="searchFilter">
                <div class="container p-3">
                    <div class="row mb-3">
                        <label for="dentists" class="col-sm-3 col-form-label" th:text="#{registration.dentist}"></label>
                        <select name="dentists" id="dentists" th:field="*{dentistIds}"
                                class="selectpicker col-sm-7" multiple="multiple" th:title="#{form.choose}">
                            <option
                                    th:each="dentist : ${dentists}"
                                    th:value="${dentist.getId()}"
                                    th:text="${dentist.getFullName()}">
                            </option>
                        </select>
                    </div>
                    <div class="row mb-3">
                        <label for="datetimepicker1" class="col-sm-3 col-form-label"
                               th:text="#{registration.search.date}"></label>
                        <div class="input-group date col-sm-3" data-target-input="nearest">
                            <input id="datetimepicker1" type="text" class="form-control datetimepicker-input"
                                   data-target="#datetimepicker1"
                                   th:field="*{startDate}"
                                   th:placeholder="#{registration.search.startDate}" />
                            <div class="input-group-append" data-target="#datetimepicker1" data-toggle="datetimepicker">
                                <div class="input-group-text"><i class="fa fa-calendar-alt"></i></div>
                            </div>
                        </div>
                        <span class="col-sm-1 col-form-label text-center align-self-center"
                              th:text="#{registration.search.separator}"></span>
                        <div class="input-group date col-sm-3" id="datetimepicker2" data-target-input="nearest">
                            <input type="text" class="form-control datetimepicker-input" data-target="#datetimepicker2"
                                   th:field="*{endDate}" id="endDate" th:placeholder="#{registration.search.endDate}"/>
                            <div class="input-group-append" data-target="#datetimepicker2" data-toggle="datetimepicker">
                                <div class="input-group-text"><i class="fa fa-calendar-alt"></i></div>
                            </div>
                        </div>
                    </div>
                </div>
                <button class="btn btn-primary m-3" type="submit" th:text="#{registration.search}"></button>
            </form>
            <hr class="mb-5 mt-1"/>

            <h2 class="my-3" th:text="#{registration.list.title}"></h2>

            <table class="table" th:unless="${registrations.isEmpty()}">
                <thead>
                <tr>
                    <th scope="col" class="col-sm-3" th:text="#{registration.dentist}"></th>
                    <th scope="col" class="col-sm-3" th:text="#{registration.date}"></th>
                    <th scope="col" class="col-sm-3" th:text="#{registration.time}"></th>
                    <th scope="col" class="col-sm-3"></th>
                </tr>
                </thead>

                <tbody>
                <tr th:each="registration: ${registrations}">
                    <td th:text="${dentistsById.get(registration.getDentistId()).getFullName()}"
                        class="col-sm-3 align-middle"></td>
                    <td th:text="${#dates.format(registration.getVisitDate(), 'dd.MM.yyyy')}"
                        class="col-sm-3 align-middle"></td>
                    <td th:text="${#dates.format(registration.getVisitDate(), 'HH:mm')}"
                        class="col-sm-3 align-middle"></td>
                    <td class="col-sm-3 text-right">
                        <a class="btn btn-light bg-transparent border-0" data-bs-toggle="tooltip"
                            th:href="@{/{id}(id=${registration.getId()})}" th:title="#{registration.tooltip.view}">
                            <i class="fas fa-eye"></i>
                        </a>
                        <a class="btn btn-light bg-transparent border-0" data-bs-toggle="tooltip"
                           th:href="@{'/{id}/edit'(id=${registration.getId()})}"
                           th:title="#{registration.tooltip.edit}" th:if="${registration.isEditable()}">
                            <i class="fas fa-edit"></i>
                        </a>
                        <form action="#" th:action="@{'/{id}/delete'(id=${registration.getId()})}"
                              class="registration-list-delete-button" th:method="delete"
                              th:if="${registration.isEditable()}">
                            <button type="submit" class="btn btn-light bg-transparent border-0" data-bs-toggle="tooltip"
                                    th:title="#{registration.tooltip.delete}">
                                <i class="fas fa-trash-alt"></i>
                            </button>
                        </form>
                    </td>

                </tr>
                </tbody>
            </table>
            <div class="col-sm-12 list-empty mb-4" th:if="${registrations.isEmpty()}">
                <div class="p-5 text-center font-weight-bold" th:text="#{registration.list.empty}"></div>
            </div>
            <a class="btn btn-primary" th:href="@{/}" th:text="#{registration.button.new}"></a>
        </div>
    </div>

    <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
    <script th:src="@{/webjars/bootstrap-select/js/bootstrap-select.min.js}"></script>
    <script th:src="@{/webjars/momentjs/min/moment.min.js}"></script>
    <script th:src="@{/webjars/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js}"></script>

    <script>
        $.fn.datetimepicker.Constructor.Default = $.extend({}, $.fn.datetimepicker.Constructor.Default, {
        icons: {
            time: 'far fa-clock',
            date: 'far fa-calendar',
            up: 'fas fa-arrow-up',
            down: 'fas fa-arrow-down',
            previous: 'fas fa-chevron-left',
            next: 'fas fa-chevron-right',
            today: 'far fa-calendar-check-o',
            clear: 'far fa-trash',
            close: 'far fa-times'
        } });

    $('#datetimepicker1').datetimepicker({
        format: 'DD.MM.YYYY'
    });

    $('#datetimepicker2').datetimepicker({
        format: 'DD.MM.YYYY'
    });

    $.fn.selectpicker.Constructor.BootstrapVersion = '4';

    var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
    var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
        return new bootstrap.Tooltip(tooltipTriggerEl)
    })

    </script>

</body>
</html>