<html>
<head>
    <meta charset="UTF-8"/>
    <title>Dentist App</title>

    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} "/>
    <link th:rel="stylesheet" th:href="@{/webjars/font-awesome/5.11.2/css/all.css} "/>
</head>
<body>

<div class="container">
    <div class="alert alert-success my-4" role="alert">
        <h4 class="alert-heading" th:text="#{registration.ok}"></h4>
        <p th:text="#{registration.ok.info}"></p>
        <hr/>
        <div class="row mx-1">
            <a type="button" class="btn btn-primary mr-2" th:href="@{/}" th:text="#{registration.button.new}"></a>
            <a class="btn btn-outline-primary " th:href="@{/registrations}" th:text="#{registration.button.list}"></a>
        </div>
    </div>
</div>

<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>

</body>
</html>