tr {
    min-height: 62px;
    height: 62px;
}

.list-empty {
    background-color: #eeeded;
    color: #6d6d6d;
    font-size: large;
}

.search-filter {
    background-color: #eeeded;
}

.registration-list-delete-button {
    display: inline;
}

.registration-list-search-title {
    cursor: pointer;
}

.registration-list-search-title > h2 {
    display: inline-block;
}

.container-block {
    display:inline-block;
}